{% extends 'base.html' %}

{% block content %}
    <a href = "{{url_for('settings')}}"><i class="material-icons" style = "float: right;">settings</i></a>
    <a href = "{{url_for('home')}}"><i class="material-icons" style = "float: right;">home</i></a>
    <div class="logo">
        <h1>ElasticGraph</h1>
    </div>
    <div>
        {%for key, val in maps.items()%}
            <h2>{{key}}</h2>
            {%for title, value in val.items()%}
                <p>{{title}} - {{val}}</p>
            {%endfor%}
        {%endfor%}
    </div>
{% endblock %}